<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size-sm="12" class="ion-text-center">
      <h1 class="ion-padding-vertical">About Yourself</h1>
      <ion-card>
        <ion-card-header class="ion-no-padding">
          <img src={{userData.pic.changingThisBreaksApplicationSecurity}} >
        </ion-card-header>
        <ion-card-content>
          <ion-item class="ion-padding-top" lines="none">
            <ion-icon slot="start" name="person"></ion-icon>
            <p>{{userData.userName}}</p>
          </ion-item>
          <ion-item lines="none">
            <ion-icon slot="start" name="mail"></ion-icon>
            <p>{{userData.email}}</p>
          </ion-item>
          <ion-item lines="none">
            <ion-icon slot="start" name="call"></ion-icon>
            <p>{{userData.contact}}</p>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>  
 
</ion-content>
