<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>Forgot password</ion-title>
 
   <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="default">
  
  <ion-row>
    <ion-col class="ion-text-center" size-sm="12">
      <h1 class="paragraph">Enter your E-mail here</h1>
    </ion-col>
  </ion-row>

<ion-row class="ion-padding-bottom">
    <ion-col class="ion-text-center" size-sm="12">
      <div class="input-parent ion-padding-vertical">
        <ion-item lines="none" class="input-item">
          <ion-label position="floating">Email</ion-label>
          <ion-input name="email" type="email" ></ion-input>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>

   <ion-row class="ion-padding-vertical">
   <ion-col>
      <div class="ion-padding-center">
        <!-- Added login() to change the event on html attributes -->
        <button ion-button class="submitButton">Send</button>
      </div>
   
  </ion-col>
</ion-row>
    </ion-content>
