<ion-content class="ion-padding">
  <ion-row>
    <ion-col class="ion-text-center" size-sm="12">
      <h1 class="login-header">LOGIN</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center" size-sm="12">
      <ion-card class="ion-padding-vertical">
        <ion-card-content>
          <div class="input-parent ion-padding-vertical">
            <ion-item lines="none">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email"></ion-input>
            </ion-item>
          </div>
          <div class="input-parent ion-padding-vertical">
            <ion-item lines="none">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
          </div>
          <ion-row>
            <ion-col class="ion-text-start" size-sm="6">
              <p class="forgot-text">Register from here</p>
            </ion-col>
            <ion-col class="ion-text-end" size-sm="6">
              <p class="forgot-text">Forgot password !</p>
            </ion-col>
          </ion-row>
          <div class="ion-padding-vertical">
            <!-- Added login() to change the event on html attributes -->
            <ion-button (click)="login()">LOGIN</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>