ion-content {
    //changed here background image fo login page. In scss we write --background for this.
    --background: url('/assets/images/register.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.ion-card {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.login-header {
    color: white;
}

.input-parent ion-item {
    //With reference of private div we can change the ion-item styles.
    border: 1px solid black;
    border-radius: 4px;
}

.forgot-text {
    font-size: 16px;
    font-weight: 600;
    color: red;
}
