<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  
  <ion-slides pager="true" >
    <ion-slide>
      <img src='/assets/images/slide1.jpg'>
    </ion-slide>
    <ion-slide>
      <img src='/assets/images/slide2.jpg'>
    </ion-slide>
    <ion-slide>
      <img src='/assets/images/slide3.jpg'>
    </ion-slide>
  </ion-slides>
  <!--first card-->
  <ion-row>
  <ion-col  size-sm="6">
    <div>
    <ion-card (click)="cardDetail()">
      <img src='/assets/images/slide3.jpg'>
      <ion-card-header>
        <ion-card-subtitle>View</ion-card-subtitle>
        <ion-card-title>Nature1</ion-card-title>
      </ion-card-header>
      
    </ion-card>
  </div>
  </ion-col>


  <ion-col  size-sm="6">
    <div>
    <ion-card>
      <img src='/assets/images/slide3.jpg'>
      <ion-card-header>
        <ion-card-subtitle>Album</ion-card-subtitle>
        <ion-card-title>Nature2</ion-card-title>
      </ion-card-header>
      
    </ion-card>
  </div>
  </ion-col>
  </ion-row>
  <!--second card-->
  <ion-row>
    <ion-col  size-sm="6">
      <div>
      <ion-card>
        <img src='/assets/images/slide3.jpg'>
        <ion-card-header>
          <ion-card-subtitle>View</ion-card-subtitle>
          <ion-card-title>Natureimg1</ion-card-title>
        </ion-card-header>
        
      </ion-card>
    </div>
    </ion-col>
  
  
    <ion-col  size-sm="6">
      <div>
      <ion-card>
        <img src='/assets/images/slide3.jpg'>
        <ion-card-header>
          <ion-card-subtitle>Album</ion-card-subtitle>
          <ion-card-title>Naturimage2</ion-card-title>
        </ion-card-header>
        
      </ion-card>
    </div>
    </ion-col>
    </ion-row>
</ion-content>
