<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  
  <ion-slides pager="true" >
    <ion-slide>
      <img src='/assets/images/slide1.jpg'>
    </ion-slide>
    <ion-slide>
      <img src='/assets/images/slide2.jpg'>
    </ion-slide>
    <ion-slide>
      <img src='/assets/images/slide3.jpg'>
    </ion-slide>
  </ion-slides>
</ion-content>
