<ion-header>
  <ion-toolbar>
    <ion-title>Forgot password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="default">
  
  <ion-row>
    <ion-col class="ion-text-center" size-sm="12">
     <div text="Reterive your password enter your email">

     </div>
    </ion-col>
  </ion-row>

<ion-row>
<ion-col class="ion-text-center" size-sm="12">
  
      <div class="input-parent ion-padding-vertical">
        <ion-item lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="email" type="email" placeholder="your@email.com" ></ion-input>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>

   <ion-row>
   <ion-col>
      <div class="ion-padding-center">
        <!-- Added login() to change the event on html attributes -->
        <ion-button  size="medium" type="send"  expand="block">Send</ion-button>
      </div>
   
  </ion-col>
</ion-row>
    </ion-content>
