<ion-header >
  <ion-toolbar>
    <ion-title>Register </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content  color="default">
      <ion-row>
      <ion-col class="ion-text-center" size-sm="12"></ion-col>
              <ion-item>
                <ion-input  name="name" type="text" placeholder="Name" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="email" type="email" placeholder="your@email.com" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="contact" type="contact" placeholder="contact" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Password" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="confirm" type="password" placeholder="Confirm password" ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

            <ion-row>
              <ion-col class="ion-text-start" size-sm="6">
            <div class="ion-padding-vertical">
              <ion-button  size="medium" type="submit"  expand="block">submit</ion-button>
            </div>
          </ion-col>
        </ion-row>
                     
   
  </ion-content>

