<ion-header >
  <ion-toolbar>
    <ion-title>Register </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content  color="default">
    <form  #form="ngForm" (ngSubmit)="register(form)">
   
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Create your account!</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input  name="name" type="text" placeholder="Name" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="contact" type="contact" placeholder="contact" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="confirm" type="password" placeholder="Confirm password" ngModel required></ion-input>
              </ion-item>
            </div>
            <div class="ion-padding-vertical" >
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div>
                      <ion-button  size="medium" type="submit"  expand="block">submit</ion-button>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
     
    </form>
  </ion-content>

